*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
html,body{
    width: 100%;
    height: 100%;
}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    color: white;
    background-color: red;

}
.game{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 20px;
    width: 80%;
    min-height: 120px;
    background-color: rgba(0, 0, 0,0.2)
}

.game .bubble{
    width: 60px;   
    height: 60px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-right: 20px;
    margin-bottom: 10px;


}
